
<div class="container">
    <h3>
      pipe: mask credit card
    </h3>
  
    <p>Unmasked credit card number: 1234567897654321</p>
    <p>Masked credit card number with pipe: {{ 1234567897654321 | maskCreditCard: 5 }}</p>
    
    <hr>
  
    <h3>
      attribute directive: cycle colors
    </h3>
  
    <p appCycleTextColor 
    [listOfColors]="['yellow', 'red', 'green', 'blue', 'black']"
    [changeAfter]="1000">
      The color of this text will cycle through colors after given interval (1 sec)
    </p>
  
    <hr>
  
    <h3>
      Structural directive: remove element after
    </h3>
  
    <p *appRemoveElementAfter="5000">
      This element will be removed from DOM after 5 seconds
    </p>
  
  
  </div>
  